$main-font: Roboto, Avenir, Helvetica, Arial, sans-serif

$color-inactive: #a7a7a7
$bg-accent: #ffffffff
$bg-hover: #00000015
$bg-hover-non-transparent: #f7f7f7ff
$bg: #00000010
$color-table-head: #4a4a4a

$color-increase: #4eaf0a
$color-decrease: #e15241

$table-border-radius: 6px

:export
  colorIncrease: $color-increase
  colorDecrease: $color-decrease
