$main-font: Roboto, Avenir, Helvetica, Arial, sans-serif

$color-inactive: #a7a7a7
$bg: #efefef
$bg-accent: #ffffffff
$bg-hover: #00000015
$bg-hover-non-transparent: #f7f7f7ff
$color-alt: #4a4a4a

$color-increase: #4eaf0a
$color-decrease: #e15241

$border-radius: 6px
$header-margin: 8px

$shadow: 2px 2px 19px rgba(0, 0, 0, 0.11)

$animation-pulse-loader: pulse 1s linear infinite
$animation-shadow: shadow .10s linear forwards

@mixin bg-transition($new-bg: $bg-hover, $state: hover)
  transition: background .15s ease-in-out
  &:#{$state}
    background: $new-bg

@mixin shadow-transition($state: hover)
  box-shadow: 0
  transition: box-shadow .15s ease-in-out
  &:#{$state}
    box-shadow: $shadow

@mixin shadow-transition-after($state: hover)
  position: relative
  &::after
    content: ""
    position: absolute
    z-index: -1
    top: 0
    left: 0
    border-radius: inherit

    width: 100%
    height: 100%
    box-shadow: $shadow
    opacity: 0
    transition: opacity .3s ease-in-out
  &:#{$state}::after
    opacity: 1

@mixin shadow-transition-after-on
  &::after
    opacity: 1

@mixin shadow-transition-after-cancel
  &::after
    opacity: 0

@keyframes pulse
  from
    opacity: 100%
  to
    opacity: 1000%

  50%
    opacity: 25%

:export
  bg: $bg
  colorIncrease: $color-increase
  colorDecrease: $color-decrease
